.sideBar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(235, 235, 247);
  position: sticky;
  top: 50px;
}

.sidebarwrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 13px;
  color: rgb(188, 185, 185);
}
.sidebarList {
  list-style: none;
  padding: 15px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(222, 222, 248);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
