.home {
  flex: 4;
  margin: 10px;
}

.chartTitle {
  padding: 10px;
  margin: 5px 25px;
  width: 150px;
}

.chartContainer {
  box-shadow: 1px 0px 8px -2px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  padding: 30px;
  width: 65%;
}

.slider {
  padding: 8px 0;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
}

.graph {
  margin-left: 30px;
}

.homeWidgets {
  display: flex;
  margin: 20px;
}
